<div class="banner-card {{ bannerCardClass }}">
	<div class="banner-card__wrapper">
		<h2 class="banner-card__title title">Зарегистрируйтесь и получите доступ ко полному списку специалистам</h2>

		<div class="banner-card__actions">
			{{
				Button(
					'Зарегистрироваться',
					'button',
					'grey-lighter',
					'banner-card__action'
				)
			}}

			{{
				Button(
					'Войти',
					'button',
					'white',
					'banner-card__action banner-card__action--comein'
				)
			}}
		</div>
	</div>
</div>
