.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 22px;
	border: 0;
	border-radius: 100px;
	font-weight: 700;
	font-size: 16px;
	font-family: var(--font-family);
	line-height: 24px;
	cursor: pointer;

	&__wrapper {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}

	&--brand {
		color: var(--color-black);
		background: var(--color-brand);
		fill: var(--color-black);
	}

	&--white {
		background-color: var(--color-white);
	}

	&--green-lighter {
		background-color: var(--color-green-lighter);
	}

	&--grey-darker {
		color: var(--color-white);
		background-color: var(--color-darker);
		fill: var(--color-white);
	}

	@media (hover: hover) {
		&:hover {
			background: var(--color-hover-primary);
		}

		&:active {
			background: var(--color-press-primary);
		}
	}

	&--grey-lighter {
		background-color: var(--color-grey-lighter);

		@media (hover: hover) {
			&:hover {
				background: var(--color-hover-secondary);
			}

			&:active {
				background: var(--color-press-secondary);
			}
		}
	}
}
