.filter {
	margin: 0 0 20px;

	&__form {
		&--mobile {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		&--desktop {
			@include media-table-s {
				display: none;
			}
		}
	}

	&__row {
		@include flex-system;
	}

	&__col {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}

	&__actions {
		@include media-table-s {
			display: flex;
			gap: 8px;
			align-items: center;
		}

		display: none;
	}

	&__action {
		@include media-phone-m {
			flex-grow: 1;
			padding: 12px 5px;
		}

		border-radius: 12px;

		color: var(--color-grey-dark);
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;

		fill: var(--color-grey-dark);

		&--reset {
			@include media-phone-m {
				display: none;
			}

			color: var(--color-dark);
		}
	}

	&__title {
		margin: 0 0 8px;

		color: #393c41;
		font-weight: 700;
	}

	&__box {
		width: 100%;
		padding: 12px 0;
		border-top: 2px solid var(--color-green-lighter);

		&--actions {
			display: flex;
			flex: 1 0 auto;
			align-items: flex-end;
		}
	}

	&__triggers {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 100%;
	}

	&__result {
		color: #74767a;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
	}

	&__reset {
		padding: 7px 12px;
		border-radius: 12px;
	}

	&-choose {
		$p: &;

		position: relative;

		cursor: pointer;

		user-select: none;

		&__field {
			position: absolute;
			top: 0;
			left: 0;

			width: 0.5px;
			height: 0.5px;

			opacity: 0;

			&:checked + #{$p} {
				&__wrapper {
					color: var(--color-black);
					#{$p} {
						&__replace {
							border-color: var(--bg-secondary);

							background: var(--color-brand);
						}
					}
				}
			}

			&:focus-visible + #{$p} {
				&__wrapper {
					outline-color: var(--color-black);
				}
			}
		}

		&__wrapper {
			@include media-table-s {
				border: 1px solid var(--color-hover-tertiary);
			}

			display: flex;
			align-items: center;
			padding: 7px 12px;
			border-radius: 12px;

			color: var(--color-grey-dark);
			font-weight: 700;

			background-color: var(--bg-secondary);
			outline: 2px solid transparent;
		}

		&__replace {
			@include media-table-s {
				display: block;
			}

			position: relative;

			display: none;
			width: 24px;
			min-width: 24px;
			height: 24px;
			margin-right: 8px;
			border: 2px solid var(--color-grey-lighter);
			border-radius: 6px;

			&::after {
				position: absolute;
				top: 0;
				left: 0;

				display: block;
				width: 100%;
				height: 100%;

				background-image: url('@base64/icon-check-white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 13px 9px;

				content: '';
			}
		}
	}
}
