<title>Document</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:locale" content="en_RU">
<meta property="og:type" content="website">
<meta property="og:url" content="https://example.com/">
<meta property="og:site_name" content="Site name">
<meta property="og:title" content="Site title">
<meta property="og:image" content="https://example.com/assets/img/og_image.jpg">
<meta name="description" property="og:description" content="Описание.">
<meta name="twitter:card" content="summary_large_image">

<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon.ico">
<link rel="stylesheet" href="./css/build.min.css">

<script src="./js/build.min.js"></script>
